.NavigationItems {
  margin: 0;
  padding: 0;
  /* going to be added to an unordered list, so don't want default list style */
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* full height of toolbar */
  height: 100%;
}

@media(min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
